$def with (text)

<!doctype html>

<html>
    <head>
        <title>Text Adventure</title>
        <link rel="stylesheet" type="text/css" href="/static/UI.css" />
        <script type="text/javascript" src="/static/jquery-1.6.4.min.js"></script>
        <script type="text/javascript">
            var currentString = "";

            function onEnter() {
                jQuery.ajax({
                    type: "POST",
                    data: {curString : currentString},
                    success: function(data) {
                        jQuery('#theText').html(data);
                        window.scrollTo(0,document.body.scrollHeight);
                    },
                });
                currentString = "";
                return false;
            }

            function onKey(event) {
                event = event || window.event;
                var keyCode = event.keyCode;

                if (keyCode == 8) {         // backspace
                    currentString = currentString.substring(0, currentString.length - 1);
                    var curHTML = jQuery('#theText').html()
                    jQuery('#theText').html(curHTML.substring(0, curHTML.length - 1));
                    return false;
                }
                else if(keyCode == 13) {    // enter
                    onEnter()
                }
                else if(keyCode == 32 || (keyCode >= 48 && keyCode <= 90)) {
                    var theChar = String.fromCharCode(keyCode)
                    currentString += theChar;
                    jQuery('#theText').append(theChar);
                }
            }

            jQuery(document).ready(function() {
                document.onkeydown = onKey;
            })
        </script>
    </head>
    <body>
        <div id="theText">$:text</div>
        <br /><br /><br /><br /><br /><br /><br />
    </body>
</html>
